@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css");

.navigation-controls-wrapper {
  display: flex;
  gap: 0.75rem;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--primary-color,#a09806);
  transition: color 0.2s ease, transform 0.2s ease;
}

.nav-button i {
  font-size: 1.8rem;
}

.nav-button:hover:not(:disabled) {
  color: var(--primary-hover, #969d0a);
  transform: scale(1.1);
}

.nav-button:disabled {
  color: var(--border-dark, #3a3a3a);
  cursor: not-allowed;
  opacity: 0.4;
}
