<div class="hero-container">
  <div class="hero-img" [routerLink]="link" style="cursor: pointer;">
    <img [src]="image" alt="Hero" appImgFallback="post">
  </div>
  <div class="hero-content">
    <div class="meta" [style.color]="customColor">
      <i class="bi bi-calendar3 me-2"></i>
      <span>{{ metaText }}</span>
    </div>
    <h2 class="merriweather-font" [routerLink]="link" style="cursor: pointer;">{{ title }}</h2>
    <p>{{ description }}</p>
    <button [routerLink]="link" [style.background-color]="customColor" class="explore-btn">
      Read Full Article
    </button>
  </div>
</div>