<div class="breadcrumbs-container px-0 py-2" *ngIf="!isHomePage()">
    <div class="breadcrumb-trail">
        <!-- Breadcrumb Trail -->
        <nav aria-label="breadcrumb" class="d-none d-sm-block">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a routerLink="/public/home">Home</a>
                </li>
                <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs; let last = last">
                    <a *ngIf="!last" [routerLink]="[breadcrumb.url]">{{ breadcrumb.label }}</a>
                    <span *ngIf="last" class="current-label">{{ breadcrumb.label }}</span>
                </li>
            </ol>
        </nav>

        <!-- Mobile Breadcrumb -->
        <div class="current-page-label d-sm-none" *ngIf="breadcrumbs.length > 0">
            {{ breadcrumbs[breadcrumbs.length - 1].label }}
        </div>
    </div>
</div>