<footer class="footer-section">
  <div class="container">

    <div class="row gy-5">

      <div class="col-lg-4 col-md-12 logo-col">
        <div class="brand-box mb-4">
          <img src="MAIN Blue & Orange.png" alt="NYC360" class="footer-logo">
        </div>

        <ul class="footer-links main-links">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Our Mission</a></li>
          <li><a href="#">How NYC360 Works</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>

        <div class="social-box mt-5">
          <h6 class="social-title">FOLLOW US</h6>
          <div class="social-icons">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-tiktok"></i></a>
            <a href="#"><i class="bi bi-twitter-x"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <h5 class="col-title">COMMUNITY</h5>
        <ul class="footer-links">
          <li><a href="#">For New Yorkers</a></li>
          <li><a href="#">For Visitors</a></li>
          <li><a href="#">Organizations</a></li>
          <li><a href="#">Community Guidelines</a></li>
          <li><a href="#">Report an Issue</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <h5 class="col-title">RESOURCES</h5>
        <ul class="footer-links">
          <li><a href="#">Help Center</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Accessibility</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Services</a></li>
          <li><a href="#">Media</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <h5 class="col-title">EXPLORE</h5>
        <ul class="footer-links">
          <li><a href="#">News</a></li>
          <li><a href="#">Lifestyle</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Professions</a></li>
          <li><a href="#">Culture</a></li>
          <li><a href="#">Media</a></li>
        </ul>
      </div>

    </div>

    <div class="footer-bottom">
      <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-start">
          <p>&copy; {{ currentYear }} NYC360. All rights reserved.</p>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <ul class="legal-links">
            <li><a href="#">Term of use</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookies Policy</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</footer>