/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";


/* تصفير المسافات الافتراضية للمتصفح */
html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* عشان يمنع السكرول العرضي لو ظهر */
}

/* ضبط حسابات الأبعاد لكل العناصر */
*, *::before, *::after {
  box-sizing: border-box;
}