<nav class="nav-bar-container">
  
  <div class="top-header">
    
    <button class="mobile-toggle" (click)="toggleMenu()">
      <i class="bi" [ngClass]="isMenuOpen ? 'bi-x-lg' : 'bi-list'"></i>
    </button>


<app-navigation-controls></app-navigation-controls>



  </div>

  <div class="mobile-menu" [class.open]="isMenuOpen">
    <ul class="mobile-links">
      <li><a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/admin/User" routerLinkActive="active">users</a></li>
      <li><a routerLink="/admin/Role" routerLinkActive="active">Roles</a></li>
      <li><a routerLink="/admin/rss" routerLinkActive="active">Rss Links</a></li>
      <li><a routerLink="/admin/posts" routerLinkActive="active">posts</a></li>
      <li><a routerLink="/admin/trending" routerLinkActive="active">trending</a></li>
      <li><a routerLink="/admin/flags" routerLinkActive="active">flags</a></li>
    </ul>

  </div>

  <hr class="divider top-divider">

  <div class="date-section">
    {{ currentDate | date:'EEEE, MMMM d, y' }}
  </div>

  <hr class="divider bottom-divider">
  
  <div class="sub-links-bar d-none d-md-block">
    <ul class="sub-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a></li>
      <li><a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li *ngIf=" canViewDashboard  && canViewRoles  ">
        <a routerLink="/admin/Role" routerLinkActive="active">Roles</a>
      </li>

      <li *ngIf="canViewDashboard  && canViewUsers">
        <a routerLink="/admin/User" routerLinkActive="active">Users</a>
      </li>

      <li *ngIf="canViewDashboard  && canViewRSS">
        <a routerLink="/admin/rss" routerLinkActive="active">RSS Feeds</a>
      </li>


       <li *ngIf="canViewDashboard  && canViewRSS">
        <a routerLink="/admin/posts" routerLinkActive="active">posts</a>
      </li>

       <li *ngIf="canViewDashboard  && canViewRSS">
        <a routerLink="/admin/trending" routerLinkActive="active">trending</a>
      </li>       
      
      <li *ngIf="canViewDashboard  && canViewRSS">
        <a routerLink="/admin/flags" routerLinkActive="active">flags</a>
      </li>
    </ul>
  </div>
</nav>